body 
{
position: static;
/*background-image: url("imagem/imagem fundo.jpeg");*/
background-color:green;
color: black;
background-size: 1000px;
}

@media screen {

	.menuProjeto{background-color: white;}

}

li
{
font: italic bold 16px/32px Calibri, serif;
}

.borda{
border-top: 10px groove white;
border-right: 10px groove white;
border-bottom: 10px groove white;
border-left: 10px groove white;
}

.imagem{

margin: 30rem 30rem 30rem 30rem;

padding-left: 45rem;
}

#fixo {
position: fixed;
right: 20px;
}

#estatico {
position: static;
}

#relativo {
	position: relative;
	}

.text-s{
font-size: 20px;
width: 200px;
height:40px;}

.nome_musica{

color: white;

}

.sistema
{
	color: black;
}



/*.container
{
	max-width: 500px;
    height: 600px;
    margin: 0 auto;
    border: 1px solid #000;
    display: flex; 
    direction: column;
}*/

/*.container2
{
	display: flex;
	flex-direction: column;
}*/


.menuProjeto{
	display: flex;
	direction: column;
	border:1px solid lightgreen;
	border-color: darkgreen;
	width: 17em;
	height: 3.8em;
	font-size: 1.3em;
	box-shadow: 5px 5px black;
}


ul {
      list-style-position: inside;
      list-style-type: square;
    }

a{
	color: white
}

li:hover{
            transform:skew(15deg);  
            font-size: 1.2em;      
        }




